greenlet==3.2.3
numpy==2.0.2
pandas==2.2.2
playwright==1.53.0
pyarrow==20.0.0
pyee==13.0.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0
typing-extensions==4.12.2
tzdata==2024.2
